/* Ocultar el cursor nativo */
html, body {
    cursor: none;
  }
  
  /* Cursor principal */
  #cursor {
    position: fixed;
    width: 14px;
    height: 14px;
    background-color: black;
    border-radius: 50%;
    pointer-events: none;
    z-index: 10000;
    transform: translate(-50%, -50%);
  }
  
  /* Estela del cursor */
  .trail {
    position: fixed;
    width: 14px;
    height: 14px;
    background-color: black;
    border-radius: 50%;
    pointer-events: none;
    z-index: 9999;
    transform: translate(-50%, -50%);
    transition: transform 0.1s ease-out;
  }
  