
/************************** 
CSS GLOBAL 
***************************/

html, body {
    font-family: "Readex Pro", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: whitesmoke;
  }
  
